body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: blue;
}

h1 {
    color: antiquewhite;
}

/* attribute selector */
a {
    color: aquamarine;
    text-decoration: none;
}

/* pseudo class - hover */
a:hover {
    color: rgb(33, 10, 128);
}

/* child selector */
ul > li {
    font-weight: bold;
}

/* sibling selector */
h1 + p {
    background-color: rgb(0, 255, 51);
    padding: 10px;
    border-radius: 5px;
}

/* :hover pseduo-class */
ul li :hover {
    color: rgb(255, 0, 238);
}

/* nth-child(n) pseudo-class */
/* try changing the background color */
ul li:nth-child(3) {
    background-color: rgb(4, 255, 171);
}

/* :not(selector) peseduo-class */
